<header>
    <div class="header-logo">
    {% if controller is defined and controller == 'home' %}
        <h1>Stockflow</h1>
    {% else %}
        <a href="{{ url('home', 'index') }}">
            <img src="{{ BASE_URL }}static/images/logo.png" alt="Logo Stockflow">
        </a>
    {% endif %}
    </div>

    <div class="header-controls">
    <div id="user-menu">
        {% if user %}
            <div id="user-icon" class="dropdown">
                <img src="{{ BASE_URL }}static/images/logo_deco.png" alt="Menu utilisateur" class="user-logo">
                <div class="dropdown-menu">
                    <p>Bienvenue, {{ user.first_name|default(user.prenom)|e }}</p>
                    <form action="{{ url('user', 'logout') }}" method="POST">
                        <button type="submit">Déconnexion</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>
        <button class="burger-menu" aria-label="Menu de navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

<nav {% if menuActive %}class="active"{% endif %}>
{% if user %}
<a href="{{ url('home', 'index') }}" class="{{ controller == 'home' and action == 'index' ? 'active' : '' }}">Accueil</a>
<a href="{{ url('home', 'history') }}" class="{{ controller == 'home' and action == 'history' ? 'active' : '' }}">Historique</a>
{% if user.role in ['Admin'] %}
<a href="{{ url('account', 'index') }}" class="{{ controller == 'account' ? 'active' : '' }}">Comptes</a>
{% endif %}
<a href="{{ url('product', 'index') }}" class="{{ controller == 'product' ? 'active' : '' }}">Produits</a>
{% if user.role in ['Manager', 'Admin'] %}
    <a href="{{ url('supplier', 'index') }}" class="{{ controller == 'supplier' ? 'active' : '' }}">Fournisseurs</a>
    <a href="{{ url('orders', 'index') }}" class="{{ controller == 'orders' ? 'active' : '' }}">Commandes</a>
{% endif %}
<a href="{{ url('stock', 'index') }}" class="{{ controller == 'stock' ? 'active' : '' }}">Stocks</a>
{% endif %}
</nav>
</header>
